google-cloud-storage
google-cloud-bigquery[pandas]
google-cloud-aiplatform
pandas
tqdm
cairosvg
svglib
pathos
streamlit
selenium
opencv-python
torch
torchvision
vertexai
ollama
transformers
scipy
flask
jsonschema
mock
setuptools 
packaging
openai
git+https://github.com/openai/CLIP.git
beautifulsoup4
requests